* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4e4ba;
  font-family: Arial, sans-serif;
}

.container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 500px;
}

h2 {
  text-align: center;
  color: #333;
}

form {
  margin-top: 2rem;
}

form select,
button,
input {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid lightgray;
  border-radius: 0.75rem;
  font-size: 1rem;
}

form input {
  margin-bottom: 1rem;
}

.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}

.dropdown i {
  font-size: 1.5rem;
  margin: 0 1rem;
}

.select-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.select-container img {
  width: 30px;
  height: 20px;
}

.msg {
  text-align: center;
  margin-top: 2rem;
  font-weight: bold;
  color: #444;
}

form button {
  background-color: #af4d98;
  color: #fff;
  font-size: 1.15rem;
  cursor: pointer;
  margin-top: 1.5rem;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #962d7e;
}
